.clients {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.clients__link {
  display: flex;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border var(--transition), fill var(--transition);

  &:hover,
  &:focus {
    fill: var(--highlight-color);
    border: 1px solid var(--highlight-color);
  }
}
