.contact-form__title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.contact-form__fieldset {
  position: relative;
  border-color: transparent;
  display: flex;
  padding: 5px;
  margin-block: 28px;
  padding: 0;
}

.contact-form__icon {
  position: absolute;
  margin-block: 11px;
  margin-left: 12px;
  transition: fill var(--transition);
}

.contact-form__personal-input {
  border: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  padding: 12px 12px;
  padding-left: 42px;
  width: 100%;
  outline: none;
  transition: border-color var(--transition);

  &:focus {
    border: 1px solid var(--highlight-color);
  }

  &:focus ~ .contact-form__icon {
    fill: var(--highlight-color);
  }
}

.contact-form {
  label {
    position: absolute;
    top: -18px;
    left: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: var(--paragrapgh-color);
  }

  .contact-form__checkbox-label {
    position: static;
    margin-left: 4px;
  }
}

.contact-form--user-comment {
  height: 120px;
  margin-bottom: 20px;
}

.contact-form__textarea {
  height: 100%;
  width: 100%;
  border: 0;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  &:focus {
    outline: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    border-radius: 4px;
  }
}

.contact-form__checkbox-text {
  margin-left: 8px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 0.03em;

  a {
    text-decoration: underline;
    color: var(--highlight-color);
  }
}

.contact-form__checkbox-label {
  margin-bottom: 30px;
  display: inline-flex;
  cursor: pointer;
}

.contact-form__checkbox-label input {
  position: relative;
  display: none;

  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  ~ .contact-form__checked-icon {
    display: none;
  }

  &:checked ~ .contact-form__checked-icon {
    background-color: var(--highlight-color);
    display: block;
    border-radius: 2px;
    padding: 1px;
  }

  &:checked ~ .contact-form__checkbox-icon {
    display: none;
  }
}

.contact-form__button {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
