body {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--main-text-color);
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}
