.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__heading {
  font-size: 28px;
  line-height: 1.1786;
  color: var(--main-text-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: $desktop) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .section__heading {
    font-size: 36px;
    line-height: 1.166;
    margin-bottom: 50px;
  }
}
