.strengths {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.strengths__icon-wrapper {
  background: var(--third-background);
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.strengths__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.strengths__text {
  line-height: 1.71;
  color: var(--paragrapgh-color);
}
